Repository Graphql-Team1/team1-client, pull requests merged in 2024-06, with the labels that each got.

#3 [ Profile ] 메인 프로필 퍼블리싱
  index.html
  package.json
  public/test.jpeg
  src/App.tsx
  src/assets/.gitkeep
  src/assets/icon/ic_more.svg
  src/assets/icon/ic_recommend.svg
  src/assets/icon/ic_select.svg
  src/assets/index.ts
  src/component/.gitkeep
  src/component/Profile/Info/CurrentInfo.tsx
  src/component/Profile/Info/MainInfo.tsx
  src/component/Profile/Info/SubInfo.tsx
  src/component/Profile/Profile.tsx
  src/component/Profile/UserImg.tsx
  src/component/Profile/UserInfo.tsx
  src/page/.gitkeep
  src/page/InstaAccount.tsx
  src/style/.gitkeep
  src/style/globalStyle.ts
  src/style/style.d.ts
  src/style/theme.ts
  vite.config.ts
  yarn.lock
Labels: 🐠 arooming, 🖼️ publishing, 🥽 profile

#6 [ Recommend ] 추천 컴포넌트 퍼블리싱
  src/assets/icon/ic_close.svg
  src/assets/images/index.ts
  src/assets/images/rec_profile_1.png
  src/assets/images/rec_profile_2.png
  src/assets/images/rec_profile_3.png
  src/assets/images/rec_profile_4.png
  src/assets/images/rec_profile_5.png
  src/assets/images/rec_profile_6.png
  src/assets/index.ts
  src/component/Recommend/ProfileCard.tsx
  src/component/Recommend/Recommend.tsx
  src/constants/.gitkeep
  src/constants/recommendData.ts
  src/page/InstaAccount.tsx
Labels: 🐡 wrryu09, 🖼️ publishing, 💡 recommend

#7 [ Modal ] 모달 퍼블리싱
  src/assets/icon/ic_closefriend.svg
  src/assets/icon/ic_favorite.svg
  src/assets/icon/ic_modal_close.svg
  src/assets/index.ts
  src/component/Modal/Modal.tsx
  src/component/Modal/ModalBtn.tsx
  src/component/Modal/ModalTop.tsx
  src/component/Profile/Info/MainInfo.tsx
  src/component/Profile/Info/SubInfo.tsx
  src/component/Profile/Profile.tsx
  src/component/Profile/UserInfo.tsx
  src/constants/userInfo.ts
  src/page/InstaAccount.tsx
Labels: 🐡 wrryu09, 🖼️ publishing, 📟 modal

#8 [ Posts ] 게시물 뷰 구현
  src/App.tsx
  src/assets/icon/ic_post.svg
  src/assets/icon/ic_tag.svg
  src/assets/index.ts
  src/component/Modal/Modal.tsx
  src/component/Modal/ModalBtn.tsx
  src/component/Posts/Posts.tsx
  src/component/Posts/PostsHeader.tsx
  src/component/Profile/Info/MainInfo.tsx
  src/component/Profile/Profile.tsx
  src/component/Profile/UserInfo.tsx
  src/constants/postHeaderContents.tsx
  src/page/InstaAccount.tsx
  src/style/style.d.ts
  src/style/theme.ts
Labels: 🐠 arooming, 🖼️ publishing, 📸 posts

#11 [ Init ] Relay 초기세팅
  .babelrc
  package.json
  relay.config.json
  src/App.tsx
  src/RelayEnvironment.ts
  src/apis/__generated__/followUserMutation.graphql.ts
  src/apis/__generated__/unfollowUserMutation.graphql.ts
  src/apis/followUser.ts
  src/apis/unfollowUser.ts
  src/page/InstaAccount.tsx
  src/schema/app_schema.graphql
  src/vite-env.d.ts
  vite.config.ts
  yarn.lock
Labels: 🐡 wrryu09, 🚀 api

#12 [ Deploy ] relay 초기세팅
  .babelrc
  package.json
  relay.config.json
  src/App.tsx
  src/RelayEnvironment.ts
  src/apis/__generated__/followUserMutation.graphql.ts
  src/apis/__generated__/unfollowUserMutation.graphql.ts
  src/apis/followUser.ts
  src/apis/unfollowUser.ts
  src/page/InstaAccount.tsx
  src/schema/app_schema.graphql
  src/vite-env.d.ts
  vite.config.ts
  yarn.lock
Labels: 🐡 wrryu09, 🚀 api

#14 [ Profile ] 팔로워 수 반영
  src/component/Profile/Info/CurrentInfo.tsx
  src/component/Profile/Profile.tsx
  src/component/Profile/UserInfo.tsx
  src/page/InstaAccount.tsx
Labels: 🐠 arooming, 🥽 profile

#15 [ Deploy ] 팔로워 수 반영
  src/component/Profile/Info/CurrentInfo.tsx
  src/component/Profile/Profile.tsx
  src/component/Profile/UserInfo.tsx
  src/page/InstaAccount.tsx
Labels: 🐠 arooming, 🥽 profile
